
@media (max-width: 576px) {





 }


@media (max-width: 768px ) {

  .hero {

    background:  url("HERO-IMAGE.png") center center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 15px 2fr 2fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". hero__logo . " " . hero__text .";
    align-items: center;
  }



  .hero__logo  {
    grid-area: hero__logo;
    width: 30px;
    height: 30px;
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    font-family: "Fira Sans ExtraBold" ;
  }
  .hero__logo-text  {
  padding-top: 8%;




  }


  .hero__text-small  {
    padding-top: 3%;
    font-size: 16px;

  }

  .hero__text  {
    grid-area: hero__text;
    font-size: 20px;


  }




  .about  {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  300px ;
    grid-template-areas:"about__left-side about__right-side "  ;


  }

  .right-side__lowercase  {
    padding-top: 5%;
    padding-bottom: 5%;
    color: #666666;
    font-size: 14px;
  }

  .about__right-text  {
    padding-top: 10%;
  padding-left: 8%;
  }

  .gallery-1  {

    background-color: #3f729b;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto auto;
  grid-template-areas:"gallery__img-1 gallery__img-2"" gallery__img-3 gallery__img-4"  ;

  }

  .gallery__img-1 {
  grid-area: gallery__img-1;
  height: auto;
  width:100%;

  }

  .gallery__img-2 {
  grid-area: gallery__img-2;
    width:100%;
  height: auto;

  }
  .gallery__img-3 {
  grid-area: gallery__img-3;
  width:100%;
  height: auto;
  }
  .gallery__img-4 {
  grid-area: gallery__img-4;
  width:100%;
  height: auto;

  }


  .gallery-2  {

    background-color: #3f729b;
  display: grid;
  grid-template-columns:  1fr 1fr ;
  grid-template-rows: auto ;
  grid-template-areas: "gallery__inst    gallery__img-5" ;

  }














  .gallery__img-5 {
  grid-area: gallery__img-5;
  width:100%;
  height: auto;


  }

  .gallery__inst  {
  grid-area: gallery__inst;



   align-self:center;
  }

  .gallery__text   {
  color: white;
  list-style-type: none;

  }





  .gallery__text-h  {
    font-family: "Fira Sans ExtraBold" ;
    font-size: 20px;

  }

  .gallery__text-lowercase  {
  font-size: 14px;


  }

  .button  {
  background-color: inherit;
  outline: none;
  color: white;
  letter-spacing:2px;
  font-size: 14px;
    font-family: "Fira Sans Light" ;
  border-radius: 30px;
  border-style: solid;
  padding: 2px;
  }









  .music-1  {


  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto ;
  grid-template-areas:"  video " ;


  }






  .video  {
  grid-area: video;
  background-color:#212227;
  z-index: 1;
  }

  .video-items  {
    list-style-type: none;
    padding-top: 20%;
    padding-left: 10%;
    color: #2ebd59;
  }



  .video__text-h {
  font-family: "Myriad Pro";
  font-size: 18px;
  }


  .video__text  {
  font-size: 14px;
  color: white;

  }






  .music-2  {

  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 500px  ;
  grid-template-areas:"  spotify ituns"  ;


  }

  .spotify-items  {
    list-style-type: none;
    padding-top: 10%;
    padding-left: 10%;

  }










  .music-2  {

  display: grid;
text-align:center;
padding-left: 0;
  grid-template-columns: auto  ;
  grid-template-rows: auto   ;
  grid-template-areas:" spotify " "ituns";
  }

  .button  {
  background-color: inherit;
  outline: none;
  color: white;
  letter-spacing:2px;
  font-size: 14px;
    font-family: "Fira Sans Light" ;
  border-radius: 30px;
  border-style: solid;
  padding: 10px;
  padding-bottom: 10px;
  }



.items  {
padding-left: 0px;
  padding-bottom: 15px;
}








  .foot  {

  display: grid;
    grid-column-gap: 10px;
  grid-template-columns:  auto 1fr   auto;

  text-align: center;
  grid-template-rows: auto;
  grid-template-areas:". foot-1     . " ".   foot-3   . " ".  foot-2    . " ".  foot-4    . ";

  }






  }


  @media (max-width: 992px )and (min-width:769px ) {

    .gallery__text-h  {
      font-family: "Fira Sans ExtraBold" ;
      font-size: 20px;

    }

    .gallery__text-lowercase  {
    font-size: 14px;


    }

    .button  {
    background-color: inherit;
    outline: none;
    color: white;
    letter-spacing:2px;
    font-size: 14px;
      font-family: "Fira Sans Light" ;
    border-radius: 30px;
    border-style: solid;
    padding: 2px;
    }
    .foot  {
    background-color:#212227;
    display: grid;
      grid-column-gap: 20px;
    grid-template-columns:  auto 2fr 1fr  auto;


    grid-template-rows: auto;
    grid-template-areas:". foot-1  foot-2   . " ". foot-1  foot-4   . " ".  foot-3 foot-3   . " ;  }
.foot-3{text-align: center;}

    }


@media (min-width: 1200px) {



 }
