* {margin: 0px; padding: 0px;
}




body  {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;


}






.masthead {

	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("img1.png")  ;
  background-size: cover ;
  background-repeat: no-repeat;

}


.masthead-text  {
    font-size: 1.5em;
  text-align: center;
  padding-top:30%;
  padding-bottom:40%;
}


.masthead-text__title  {
	 text-align: center;
	  font-size: 1.5em;
  padding-top:8%;
  padding-bottom:5%;
}





.navbar  {
  margin-block-start:0px;
  background-color: white;



}


.nav-link  {
text-decoration: none;
	color: #2D2D2D;
font-size: 16px;
letter-spacing: 2px;
}


.nav-link:hover  {
	color:#762DA9;
letter-spacing: 2px;
}


.drop-menu {
  display: none;
list-style-type: none;

}

.buttom_menu:hover  {
	color:black;

}
.buttom_menu{
color: black;
  text-decoration: none;

}



.menu  {

  text-align:center;
  margin-block-start:0px;
  background-color:#F0F0F0;
  padding-top:5%;
  padding-bottom:5%;

}


.menu__title  {
  padding-bottom:10%;
  text-align: center;
 }




.menu__img-html  {
  max-width: 100%;
  max-height:100%;

}
.menu__img-css {
  max-width: 100%;
  max-height:100%;
}


.menu__img-Bootstrap  {
  max-width: 100%;
  max-height: 100%;

}





.menu__img-js {
  max-width: 100%;
  max-height: 100%;
}

.menu__img-psd {
  max-width:100%;
  max-height:100%;
}





.about {
  padding-top: 5%;
  margin-bottom:4%;

  margin-block-start:0px;

}

.about__title  {
	text-align: center;

}

.about-text__item  {
	padding:2%;
	font-size: 1.1em;


}








.contacts  {
	padding-top: 5%;
  background-color:#F0F0F0;
  padding-bottom:4%;


}

.contacts__title-h3{
  text-align: center;
}



.input-group  {
	padding-top: 2%;



}


.button  {
	padding-top: 4%;

}

.button__submit  {
	font-size:1.5em;
	padding-top: 2%;
	padding-bottom: 2%;
	color:white;
	border: 2px solid;
	border-color:#23272B;
	background-color:#23272B;
	border-radius: 5px;
	max-width:100%;
}


.button__submit:hover  {
	background-color: white;
	color: #23272B;



}








.foot  {
	text-align:center;
	color: white;
	padding-top:5px;
	background-color:#23272B;


}







@media (max-width:576px) {

.nav li {
display: none;


}
  .nav-link  {
display: none;
  font-size: 11px;

  }



.masthead-text  {
    font-size: auto;
  text-align: center;
  padding-top:20%;
  padding-bottom:30%;
}


.masthead-text__title  {
	   font-size: auto;
  padding-top:4%;
  padding-bottom:3%;
}









.menu  {
  text-align:center;
  margin-block-start:0px;
  background-color:#F0F0F0;
  padding-top:5%;
  padding-bottom:5%;

}


.menu__img-html  {
  max-width:30%;
  max-height:auto;
	padding:5%;
}
.menu__img-css {
  max-width: 30%;
  max-height:auto;
  padding:5%;
}


.menu__img-Bootstrap  {
  max-width: 30%;
  max-height:auto;
	padding:5%;
}





.menu__img-js {
  max-width: 30%;
  max-height:auto;
  padding:5%;
}

.menu__img-psd {
  max-width: 30%;
  max-height:auto;
  padding:5%;
}


}



@media (min-width:576px){
.drop-menu  {
display: none;

}
.buttom_menu  {
display: none;

}

}
